@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --color-primary-500: #008000;
  --color-sec-500: #006400;
  --color-text-1-500: #ffffff;
  --color-text-2-500: #1f2937;
  --color-text-3-500: #38b000;
  --color-text-4-500: #4b5563;

  --color-hover-500: #d1fae5;
  --color-sec-hover-500: #004b23;
}
